/* All shared styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.primary-text {
    color: #E55473;
}

.btn-primary {
   background-color: #E55473;
   color: #fff;
   font-weight: 700;
   font-size: 22px;
   border-radius: 8px;
   padding: 20px;
   max-width: 200px;
}
/* all nav styles */
.nav-container {
    background-color: rgba(255, 255, 255, 0); 
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}

nav li {
    list-style: none;
    font-weight: 500;
    font-size: 22px;
}

nav a {
    text-decoration: none;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

/* all banner styles */
.banner-container{
    background-color: rgba(229, 84, 115, 0.10);
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 40px;
    padding: 0 0 0 150px;
}

.banner-greeting {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 643px;
}

.banner-bg {
    /* object-fit:cover; */
    filter: brightness(120%);
}

/* all products style rules */
.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 178px;
    flex-wrap: wrap;
}

.products-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.products-description {
    width: 504px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 0px auto;
}


.products-images {
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
    gap: 20px
}

.products-images a {
    margin: 32px auto;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.flower1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.flower1 img {
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}

.flower2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flower2 img {
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}

.flower3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flower3 img {
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}

/* service styles */
.services {
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 128px auto;
}

.logo-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 88px;
    height: 88px;
}


.service-text {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 500;
}

/* all discount deal styles */
.discount-container {
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 210px;
}

.discount-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.discount-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.discount-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}